@import url('https://fonts.cdnfonts.com/css/eurostile-mn');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk&display=swap');
@import url("https://fonts.cdnfonts.com/css/dinpro-medium");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url(./assets/background-image.svg);
  background-size: cover;
  background-position: center;
}

.Grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.Medium {
  font-family: "Medium";
}
.headerBg {
  border-radius: 12px;
  background: rgba(30, 33, 48, 0.3);
  box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.06) inset;
  backdrop-filter: blur(9.699999809265137px);
}
.whiteBar {
  width: 18px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 6px;
}
.hoverBgColor {
  fill: linear-gradient(270deg, #000 7.13%, rgba(0, 0, 0, 0.00) 41.72%);
}
.gradient-border {
  border-image: linear-gradient(45deg, white, rgb(55, 55, 55)) 1;
  border-radius: 10px;
  border: 1px solid;
}

.bullet-point::before {
  content: '\2022';
  color: #00FFE0;
  font-size: 30px;
}

.Mobile-bullet-point::before {
  content: '\2022';
  color: #00FFE0;
  font-size: 20px;
}


.styled-checkbox {
  width: 24px;
  height: 24px;
  appearance: none;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(30, 33, 48, 0.30);
  box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.06) inset;
  backdrop-filter: blur(9.7px);
  outline: none;
  cursor: pointer;
}
.glass-effect-box {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.padding-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white; /* Set the color for the padding here */
  clip-path: polygon(85% 0, 100% 20%, 100% 100%, 0% 100%, 0% 0%);
  z-index: -1;
}
.bg-shadow {
  filter:drop-shadow( 16px 16px #ff0000);
}